@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --gunmetal: #092327ff;
    --dark-slate-gray: #0b5351ff;
    --light-sea-green: #00a9a5ff;
}

body {
    color: aliceblue;
    background-color: var(--gunmetal);
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--light-sea-green);
}

.home {
    background: url(img/home.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

span{
    color: var(--light-sea-green);
}


.home-content {
    background: transparent;
    max-width: 600px;
    margin-right: 20px;
    height: 400px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}


p{
    position: relative;
    font-size: 18px;
    margin: 20px 0 40px;
}

.contact-container{
    border-radius: 10%;
    border: 5px solid var(--light-sea-green);
    box-shadow: 0 4px 8px rgba(0, 169, 165, 0.5);
    object-fit: cover;
    width: 400px;
    padding: 40px;
}

.contact-container p{
    color: var(--light-sea-green);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.email-link {
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

.email-link:hover {
    color: var(--light-sea-green);
    text-decoration: underline;
}

.home-imgHover:hover {
    background: var(--gunmetal);
    opacity: .8;
}

.home-imgHover {
    position: absolute;
    top: 50%; 
    right: 5%; 
    transform: translateY(-50%); 
    width: 510px; 
    height: 445px; 
    background: transparent;
    transition: 2s;
}

.home-sci{
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--light-sea-green);
    border-radius: 25%;
    font-size: 30px;
    color: var(--light-sea-green);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .4s;
}

.home-sci a:hover{
    color: var(--gunmetal);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--light-sea-green);
    z-index: -1;
    transition: .4s;
}

.home-sci a:hover::before {
    width: 100%;
}

footer {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    color: aliceblue;
}

.footer-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--verdinho);
}
